body{
    background-image: url("image-4.jpg");
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width:60%;
    height: 250px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 3px;
  

}
.timer{
    width: 100%;
    font-size: 72px;
    text-align: center;
    margin: 0px auto;
    padding: 35px;
}
.buttons{
    text-align: center;
    margin-top: 40px;

}
button{
    margin: 0 10px;
    border: none;
}
button i{
    font-size: 1.3rem;
    padding: 10px;
    color: white;
    width: 30px;
}

#play{
background-color: green;
}
#pause{
background-color: orange;
}
#reset{
    background-color: red;
}